<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


<!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/dashboard.css')}}">
        <style>
                body{margin:0px 0px;padding:0px 0px; background-color:#f2f2f2;}
        </style>
</head>
<body>
        <div class="title" style="height:60px; width:100%; background-color:#000; margin-left:0px; margin-top:0px; float:left; position:relative;">
	   <span id="name" style="margin-left:300px; top:5px; font-size:250%; color:#f2f2f2; position:relative;">
                LOSTandFOUND
           </span>
	   <ul class="nav pull-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu pull-right">
			 <li><a onclick="logout()">Log out</a></li>
  			</ul>
		</li>
	   </ul>
	</div>
	<div class="center_container">
	    <div id="left_sidebar">
		<div id="view_links">

	    <table border='3'>
         <thead>
            <tr>
               <th><h3>CLAIMING PERSON</h3></th>
               <th><h3>PHONE NUMBER</h3></th>
               <th><h3>CURRENTLY IN HANDS OF</h3></th>
               <th><h3>NUMBER NUMBER</h3></th>
               
               
            </tr>
         </thead>
         
         <tbody>
    {% for i in a %}
               <tr>
                  <td>{{ i.name1 }}</td>
                  <td>{{ i.mobile1 }}</td>
                  <td>{{ i.name2 }}</td>
                  <td>{{ i.mobile2 }}</td>
                  
                  </tr>
    {% endfor %}         
                </tbody>
      </table>
</form>
      
<script>
		var logout = function(){
			alert('loged out successfully')
			$.get('/logout',function(response){console.log(response);window.location="http://127.0.0.1:5000/homepage";});
		}
      
</script>
</body>

</html>
